/*======================================
//--//-->   STYLES GENERALES
======================================*/

body, html{
    margin: 0;
    padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background: #FFFFFF;
}

/*======================================
//--//-->   STYLES GENERAL SPACER-TOP
======================================*/

.inner-space-top-sm {
	padding-top: 3%;
}

.inner-space-top-md {
	padding-top: 6%;
}

.inner-space-top-lg {
	padding-top: 9%;
}

.inner-space-top-xl {
	padding-top: 12%;
}

.inner-space-top-xxl {
	padding-top: 24%;
}

.spacer-top-sm {
	margin-top: 3%;
}

.spacer-top-md {
	margin-top: 6%;
}

.spacer-top-lg {
	margin-top: 9%;
}

.spacer-top-xl {
	margin-top: 12%;
}

.spacer-top-xxl {
	margin-top: 24%;
}

.spacer-bottom-sm {
	margin-bottom: 3%;
}

.spacer-bottom-md {
	margin-bottom: 6%;
}

.spacer-bottom-lg {
	margin-bottom: 9%;
}

.spacer-bottom-xl {
	margin-bottom: 12%;
}

.spacer-bottom-xxl {
	margin-bottom: 24%;
}

.space-around-sm {
	margin: 2%;
}

.space-around-md {
	margin: 4%;
}

.space-around-lg {
	margin: 6%;
}

.space-around-xl {
	margin: 8%;
}

@media (min-width: 320px) and (max-width: 480px) {
	.mobile-inner-space-top-sm {
		padding-top: 3%;
	}

	.mobile-inner-space-top-md {
		padding-top: 6%;
	}

	.mobile-inner-space-top-lg {
		padding-top: 9%;
	}

	.mobile-inner-space-top-xl {
		padding-top: 12%;
	}

	.mobile-inner-space-top-xxl {
		padding-top: 24%;
	}

	.mobile-spacer-top-sm {
		margin-top: 3%;
	}

	.mobile-spacer-top-md {
		margin-top: 6%;
	}

	.mobile-spacer-top-lg {
		margin-top: 9%;
	}

	.mobile-spacer-top-xl {
		margin-top: 12%;
	}

	.mobile-spacer-top-xxl {
		margin-top: 24%;
	}

	.mobile-spacer-bottom-sm {
		margin-bottom: 3%;
	}

	.mobile-spacer-bottom-md {
		margin-bottom: 6%;
	}

	.mobile-spacer-bottom-lg {
		margin-bottom: 9%;
	}

	.mobile-spacer-bottom-xl {
		margin-bottom: 12%;
	}

	.mobile-spacer-bottom-xxl {
		margin-bottom: 24%;
	}

	.mobile-space-around-sm {
		margin: 2%;
	}

	.mobile-space-around-md {
		margin: 4%;
	}

	.mobile-space-around-lg {
		margin: 6%;
	}

	.mobile-space-around-xl {
		margin: 8%;
	}
}

/*======================================
//--//-->   STYLES GENERAL LEFT MARGIN
======================================*/

.left-margin-xsm {
	margin-left: 1%;
}

.left-margin-sm {
	margin-left: 2%;
}

.left-margin-md {
	margin-left: 4%;
}

.left-margin-lg {
	margin-left: 6%;
}

.left-margin-xl {
	margin-left: 10%;
}

.left-margin-xxl {
	margin-left: 20%;
}

/*======================================
//--//-->   STYLES GENERAL RIGHT MARGIN
======================================*/

.right-margin-xsm {
	margin-right: 1%;
}

.right-margin-sm {
	margin-right: 2%;
}

.right-margin-md {
	margin-right: 4%;
}

.right-margin-lg {
	margin-right: 6%;
}

.right-margin-xl {
	margin-right: 10%;
}

.right-margin-xxl {
	margin-right: 20%;
}

/*======================================
//--//-->   STYLES GENERAL LEFT PADDING
======================================*/

.left-padding-xsm {
	padding-left: 1%;
}

.left-padding-sm {
	padding-left: 3%;
}

.left-padding-md {
	padding-left: 5%;
}

.left-padding-lg {
	padding-left: 11%;
}

.left-padding-xl {
	padding-left: 18%;
}

.left-padding-xxl {
	padding-left: 36%;
}

/*======================================
//--//-->   STYLES GENERAL RIGHT PADDING
======================================*/

.right-padding-xsm {
	padding-right: 1%;
}

.right-padding-sm {
	padding-right: 3%;
}

.right-padding-md {
	padding-right: 5%;
}

.right-padding-lg {
	padding-right: 11%;
}

.right-padding-xl {
	padding-right: 18%;
}

.right-padding-xxl {
	padding-right: 36%;
}

.center-element {
	margin: auto !important;
}

/*======================================
//--//-->   STYLES GENERAL DISPLAY
======================================*/

.desktop-show-hide {
	display: block;
	visibility: visible;
}

.mobile-show-hide {
	display: none;
	visibility: hidden;
}

@media (min-width: 320px) and (max-width: 480px) {
	.desktop-show-hide {
		display: none;
		visibility: hide;
	}
	
	.mobile-show-hide {
		display: block;
		visibility: visible;
	}
}


/*======================================
//--//-->   STYLES NEEDS
======================================*/

#needs-section {
	position:relative;
	background: #FFFFFF;
	opacity: 1;
}

.content-slider-headline {
	text-align: left;
	font-family: Gotham Greek !important;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: #000000;
}

.img-description {
	margin-top: 2%;
}

.learn-more-border {
	width: 100%;
	padding: 0.5%;
	margin-left: 0%;
	border-bottom: 0.5px solid #DADADA;
	border-top: 0.5px solid #DADADA;
	border-left: 0.5px solid #DADADA;
	border-right: 0.5px solid #DADADA;
}

.red-section-content {
	background-color: #E30613;
	color: #FFFFFF;
	border-bottom: 0.5px solid #E30613;
	border-top: 0.5px solid #E30613;
	border-left: 0.5px solid #E30613;
	border-right: 0.5px solid #E30613;
}

.img-float-right {
	float: right;
}

.carousel-active {
	margin: 2.5%;
	width: 19px;
	height: 19px;
	border: 1px solid #E30613;
	border-radius: 50%;
	background-clip: content-box;
	padding: 1px;
	background-color: #E30613;
	transform: matrix(0, 1, -1, 0, 0, 0);
	opacity: 1;
}

.carousel-inactive {
	margin: 2.5%;
	width: 19px;
	height: 19px;
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	padding: 0.1em;
	background-color: #DDDDDD;
	transform: matrix(0, 1, -1, 0, 0, 0);
	opacity: 1;
}

/*======================================
//--//-->   STYLES MAP
======================================*/

#map-section {
	position:relative;
}

.mobile-store-locator {
	background-color: #F7F7F7;
}

.mobile-locator-headline {
	padding-left: 5%;
	font-family: Gotham Greek;
	font-size: 25pt;
	font-weight: bold;
}

.mobile-locator-sub-headline {
	padding-left: 5%;
	font-family: Gotham Greek, Book;
	font-size: 18pt;
}

.mobile-locator-input-headline {
	padding-left: 5%;
	font-family: Gotham Greek, Book;
	font-size: 18pt;
}

.store-locator-input {
	width: 100% !important;
	padding-left: 2%;
	background-color: #F7F7F7;
	border-bottom: 1px solid #D3D3D3;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.store-locator-input:focus {
	outline: none !important;
	outline-width: 0 !important;
}

.map-btn {
	height: 50px;
	width: 100%;
	background-color: #000000;
	border-radius: 0;
}

.map-btn-search {
	padding-left: 5%;
}

@media (min-width: 320px) and (max-width: 480px) {
	
	.mobile-map img {
		width: 100% !important;
		display: block;
		visibility: visible;
	}
}

/*======================================
//--//-->   STYLES NEWSLETTER
======================================*/

#newsletter-section {
	position:relative;
	height: auto;
	width: 100% !important;
	background-image: url(/img/Newsletter-Pattern.svg);
	background-size: cover;
	float: left;
	font-family: Gotham Greek, Book;
	font-size: 18px;
	letter-spacing: -0.18px;
	color: #000000;
	opacity: 1;
}

.n-letter-input {
	height: 41.5px;
	padding-left: 5%;
	padding-right: 5%;
	border-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.n-letter-desktop-text {
	padding-left: 2%;
}

.n-letter-input:focus {
	outline: none !important;
	outline-width: 0 !important;
}

.n-letter-btn-submit {
	width: 100%;
	background-color: #000000;
	border-radius: 0;
}

.n-letter-check {
	padding-left: 5%;
}

@media (min-width: 320px) and (max-width: 480px) {
	#newsletter-section {
		height: 80vh;
		width: 100% !important;
	}

	.n-letter-icon {
		height: 30px !important;
		width: 30px !important;
	}
	
	.n-letter-input {
		padding-left: 5%;
		padding-right: 5%;
		border-bottom: 0;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		}

	.n-letter-input:focus {
		outline: none !important;
		outline-width: 0 !important;
	}

	.n-letter-btn-submit {
		height: 50px;
		width: 65%;
		background-color: #000000;
		border-radius: 0;
	}

	.n-letter-check {
		padding-left: 5%;
	}
}

/*======================================
//--//-->   STYLES FOOTER
======================================*/

.podia-footer-icon img {
	margin-top: -6%;
	position: absolute;
}

#footer-section {
	background-color: #FBFBFB;
	color: #000000
}

.footer-left-margin {
	margin-left: 8.2%;
}

.desktop-footer-headline {
	font-family: Gotham Greek !important;
	font-size: 20px;
	font-weight: bold;
}

.copyright-box {
	font-family: Gotham Greek, Book !important;
	font-size: 16;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}

.custom-collapse-menu-item {
	width: 100% !important;
	text-align: center;
	font-family: Gotham Greek, Book !important;
	font-size: 20px;
	font-weight: bold;
}

.footer-menu-button {
	text-decoration: none;
	color: #000000;
}

.footer-menu-button:visited {
	text-decoration: none;
	background-color: #000000;
	color: #000000;
}

.footer-menu-button:active {
	text-decoration: none;
	background-color: #000000;
	color: #000000;
}

#footer-menu-contact-btn {
	text-decoration: none;
	color: #000000;
}

#footer-menu-info-btn {
	text-decoration: none;
	color: #000000;
}

.footer-contact-menu-collapser {
	width: 100% !important;
	margin-left: 27%;
}

.footer-info-menu-collapser {
	width: 100% !important;
	margin-left: 34%;
}

.footer-socials-container {
	padding-left: 33%;
}

.footer-socials-container img {
	height: 25px !important;
	width: 25px !important;
}

@media (min-width: 320px) and (max-width: 480px) {
	.podia-footer-icon img {
		margin-top: -11%;
		position: absolute;
	}
	
	.footer-socials-container img {
		height: 25px !important;
		width: 25px !important;
	}
}

/*======================================
//--//-->   STYLES INTRO
======================================*/

.intro {
	color: none;
	opacity: 1;
}

.mobile-intro {
	margin-top: 105%;
}

.mobile-intro-title {
	font-family: Gotham Greek;
	font-size: 12pt;
}

.mobile-intro-sub-title {
	font-family: Gotham Greek;
	font-size: 12pt;
	font-weight: bold;
}

@media (min-width: 320px) and (max-width: 480px) {
	.mobile-intro {
		padding-top: 50%;
	}
}

/*======================================
//--//-->   STYLES NAVBAR
======================================*/
.navbar-b .navbar-brand {
	margin-top: 0.75%;
}

.navbar-b .search {
	margin-top: 0.5rem !important;
	cursor: pointer;
}

.search {
	opacity: 1;
}

.navbar-b {
	margin-top: -1.75rem;
}

.navbar-b.navbar-reduce .navbar-toggler span {
	height: 2px;
	background-color: #000000;
}

/*--/ Hamburger Navbar /--*/

.navbar-toggler span {
	height: 2px;
	background-color: #000000;
}

.mobile-tap-animation {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #E30613;
	box-shadow: 0 0 10px #E30613;
	transform: matrix(0, 1, -1, 0, 0, 0);
	opacity: 1;
	visibility: hidden;
}

.mobile-tap-effect-fade-in {
	visibility: visible;
	animation: fadeInAnimation ease-in 0.7s;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation { 
	0% { 
		opacity: 0; 
	} 
	100% { 
		opacity: 1; 
	} 
}

.mobile-tap-effect-fade-in {
	margin: -28% 0% 0% 30%;
}


.collapsed .mobile-tap-effect-fade-in {
	margin: -70% 0% 0% 33%;
}

.mobile-tap-effect-fade-out {
	visibility: visible;
	animation: fadeOutAnimation ease-out 0.7s;
	animation-fill-mode: backwards;
	visibility: hidden;
}

@keyframes fadeOutAnimation { 
	100% { 
		opacity: 1; 
	} 
	0% { 
		opacity: 0; 
	} 
}

.navbar-b .nav-item {
	text-align: left !important;
	font-family: Gotham Greek !important;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.4px !important;
	color: #000000 !important;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
	color: #fff;
	text-transform: none;
	font-family: Gotham Greek !important;
	font-size: 20px;
	font-weight: bold;
	color: #000000 !important;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #E30613;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #E30613;
}

.navbar-b.navbar-reduce .nav-link {
  color: #E30613;
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: #E30613;
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: #E30613;
}

.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: #E30613;
}

.navbar-b.navbar-reduce .navbar-brand {
  color: #E30613;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: #E30613;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: #E30613;
}

.mobile-nav-menu-toggler-icon {
	padding-right: 7%;
}

.mobile-nav-sub-menu {
	border-bottom: 1px solid #f0f0f0;
}

.mobile-nav-sub-link {
	font-family: Gotham Greek, Book;
	font-size: 15pt;
}

.mobile-nav-socials img {
	height: 25px;
	width: 25px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.navbar-collapse {
		max-height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

/*======================================
//--//-->   STYLES MOZILLA FIREFOX
======================================*/

@supports (-moz-appearance:none) {
	
	/*======================================
	//--//-->   STYLES FIREFOX INTRO
	======================================*/
	
	.intro {
		color: none;
		opacity: 1;
	}

	.mobile-intro {
		margin-top: 105%;
		padding-top: 50%;
	}

	.mobile-intro-title {
		font-family: Gotham Greek;
		font-size: 12pt;
	}

	.mobile-intro-sub-title {
		font-family: Gotham Greek;
		font-size: 12pt;
		font-weight: bold;
	}
	
	/*======================================
	//--//-->   STYLES FIREFOX NEWSLETTER
	======================================*/
	
	#newsletter-section {
		position: absolute;
		height: auto;
		width: 100% !important;
		background-image: url(/img/Newsletter-Pattern.svg);
		background-size: cover;
		float: left;
		font-family: Gotham Greek, Book;
		font-size: 18px;
		letter-spacing: -0.18px;
		color: #000000;
		opacity: 1;
	}

	.n-letter-input {
		height: 41.5px;
		padding-left: 5%;
		padding-right: 5%;
		border-bottom: 0;
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}

	.n-letter-desktop-text {
		padding-left: 2%;
	}

	.n-letter-input:focus {
		outline: none !important;
		outline-width: 0 !important;
	}

	.n-letter-btn-submit {
		width: 100%;
		background-color: #000000;
		border-radius: 0;
	}

	.n-letter-check {
		padding-left: 5%;
	}

	@media (min-width: 320px) and (max-width: 480px) {
		#newsletter-section {
			height: 60vh;
			width: 100% !important;
		}

		.n-letter-icon {
			height: 30px !important;
			width: 30px !important;
		}
		
		.n-letter-input {
			padding-left: 5%;
			padding-right: 5%;
			border-bottom: 0;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			}

		.n-letter-input:focus {
			outline: none !important;
			outline-width: 0 !important;
		}

		.n-letter-btn-submit {
			height: 50px;
			width: 55%;
			background-color: #000000;
			border-radius: 0;
		}

		.n-letter-check {
			padding-left: 5%;
		}
	}
	
	 /*======================================
	//--//-->   STYLES FIREFOX FOOTER
	======================================*/
	
	#footer-section {
		margin-top: 15%;
		position: absolute;
		width: 100%;
		background-color: #FBFBFB;
		color: #000000
	}
	
	.podia-footer-icon img {
		margin-top: -2.5%;
		position: absolute;
	}
	
	.desktop-footer-headline {
		padding-top: 5%;
	}
	
	@media (min-width: 320px) and (max-width: 480px) {
		#footer-section {
			margin-top: 100%;
			position: relative;
			width: 100%;
			background-color: #FBFBFB;
			color: #000000
		}
		
		.podia-footer-icon {
			padding-bottom: 5%;
		}
	
		.podia-footer-icon img {
			margin-top: -6%;
			padding-bottom: 5;
			position: absolute;
		}
		
		.footer-socials-container img {
			height: 25px !important;
			width: 25px !important;
		}
	}

}

/*======================================
//--//-->   STYLES MICROSOFT EDGE
======================================*/

@supports (display:-ms-grid) {
	
	/*======================================
	//--//-->   STYLES MICROSOFT EDGE INTRO
	======================================*/
	
	.intro {
		color: none;
		opacity: 1;
	}

	.mobile-intro {
		margin-top: 105%;
		padding-top: 50%;
	}

	.mobile-intro-title {
		font-family: Gotham Greek;
		font-size: 12pt;
	}

	.mobile-intro-sub-title {
		font-family: Gotham Greek;
		font-size: 12pt;
		font-weight: bold;
	}
	
	/*======================================
	//--//-->   STYLES MICROSOFT EDGE NEWSLETTER
	======================================*/
	
	
	#newsletter-section {
		position: absolute;
		height: auto;
		width: 100% !important;
		background-image: url(/img/Newsletter-Pattern.svg);
		background-size: cover;
		float: left;
		font-family: Gotham Greek, Book;
		font-size: 18px;
		letter-spacing: -0.18px;
		color: #000000;
		opacity: 1;
	}

	.n-letter-input {
		height: 41.5px;
		padding-left: 5%;
		padding-right: 5%;
		border-bottom: 0;
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}

	.n-letter-desktop-text {
		padding-left: 2%;
	}

	.n-letter-input:focus {
		outline: none !important;
		outline-width: 0 !important;
	}

	.n-letter-btn-submit {
		width: 100%;
		background-color: #000000;
		border-radius: 0;
	}

	.n-letter-check {
		padding-left: 5%;
	}

	@media (min-width: 320px) and (max-width: 480px) {
		#newsletter-section {
			height: 60vh;
			width: 100% !important;
		}

		.n-letter-icon {
			height: 30px !important;
			width: 30px !important;
		}
		
		.n-letter-input {
			padding-left: 5%;
			padding-right: 5%;
			border-bottom: 0;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			}

		.n-letter-input:focus {
			outline: none !important;
			outline-width: 0 !important;
		}

		.n-letter-btn-submit {
			height: 50px;
			width: 55%;
			background-color: #000000;
			border-radius: 0;
		}

		.n-letter-check {
			padding-left: 5%;
		}
	}
	
	 /*======================================
	//--//-->   STYLES MICROSOFT EDGE FOOTER
	======================================*/
	
	#footer-section {
		margin-top: 15%;
		position: absolute;
		width: 100%;
		background-color: #FBFBFB;
		color: #000000
	}
	
	.podia-footer-icon img {
		margin-top: -2.5%;
		position: absolute;
	}
	
	.desktop-footer-headline {
		padding-top: 5%;
	}
	
	@media (min-width: 320px) and (max-width: 480px) {
		#footer-section {
			margin-top: 100%;
			position: relative;
			width: 100%;
			background-color: #FBFBFB;
			color: #000000
		}
		
		.podia-footer-icon {
			padding-bottom: 5%;
		}
	
		.podia-footer-icon img {
			margin-top: -6%;
			padding-bottom: 5;
			position: absolute;
		}
		
		.footer-socials-container img {
			height: 25px !important;
			width: 25px !important;
		}
	}

}